.avatar {
    margin-bottom: 8px;
    width: calc(120px - 40px);
    height: -50px;
  }
  
  .avatar > img {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    background-color: white;
  }
  
  .avatar > button {
    transition: all 0.1s ease-in-out;
  }
  
  .avatar > button:hover > svg > path {
    transition: all 0.1s ease-in-out;
  }
  
  .avatar > button:hover {
    background-color: #727272;
  }
  
  .avatar > button:hover > svg > path {
    fill: #fff;
  }
  
  h5.user-name {
    font-size: 18px;
    font-weight: 600;
  }