.text-card {
  text-align: justify;
  background-color: #f3f3f3;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 30px;
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.text-card-versao {
    text-align: justify;
    background-color: #f3f3f3;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 30px;
    width: auto;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 48px;
    
  }

.text-card>p {
    text-indent: 30px;
    line-height: 40px;
    font-size: 25px;
    text-wrap: wrap;
}

.about-img {
    min-width: 20% !important;
    margin-right: 40px !important;
}

#logo-wm>h4 {
  padding-top: 32px !important;
}

#sobre-wm {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#sobre-wm>p {
  text-indent: 30px; 
}


  @media (max-width: 768px) {

    .text-card {
        overflow: scroll;

    }

    .text-card>p {
        line-height: 18px;
        font-size: 18px;
        text-overflow: scroll;
    }
}
  